[2019-12-04 10:00] cachrisman opened #23 "Single line editor default max limit doesn't consider the underlying field type"
The single line input can be used on long text fields as well as short text fields but it assumes the max limit is 256 characters. This should be expanded to check the field type on which the extension is sitting and use 256 if short text or 50000 if long text.

https://github.com/contentful/field-editors/blob/d970dc558b363e6a83acec5bc79cd3fee3644efa/packages/single-line/src/utils/constraints.ts#L

[2019-12-04 16:59] #23 closed, assigned to nobody

[2020-01-22 09:33] DanweDE opened #29 "RTL / LTR text direction info should be consistent"
Currently, the new Markdown editor calculates text direction by itself based on the locale code using the `rtl-detect` package.

This will cause inconsistent direction in some edge cases with other field editors used in the web-app as their direction is calculated in the web-app with a slightly different logic (in addition to the rtl-detect check, all locales not known to the web-app's locales lis

[2020-01-28 09:34] #29 closed, assigned to suevalov

[2020-03-06 16:05] suevalov opened #62 "Setup cypress reports in CircleCI"
As it was done for UI Extensions SDK repository:

* https://github.com/contentful/ui-extensions-sdk/pull/272

[2020-03-13 09:07] #62 closed, assigned to nobody

[2020-03-20 13:25] suevalov opened #69 "Disable the ability to focus on Markdown field if the field is disabled"
Allow the same styling for the field as we do for rich text editor

[2020-04-22 08:03] suevalov opened #91 "Create example of markdown extension"

[2020-04-22 08:03] suevalov opened #92 "Create example of RichText extension"

[2020-04-22 08:03] suevalov opened #93 "Create example of SingleLine extension + custom logic"

[2020-04-23 14:31] #92 closed, assigned to Jwhiles

[2020-04-24 14:06] #91 closed, assigned to nobody

[2020-04-24 15:43] #93 closed, assigned to Jwhiles

[2020-05-07 16:21] stefanjudis opened #155 "Improve documentation of the MarkdownEditor"
Thanks to @suevalov I just learned that when using the `<MarkdownEditor />` I have to import the CodeMirror CSS, too.

[code]

[The referenced docs](https://contentful-field-editors.netlify.app/markdown) didn't point that out. It'd be great if this part could be added to the documentation. :)

Thanks a bunch!

[2020-05-11 07:48] #155 closed

[2020-05-11 11:24] stefanjudis commented on #155
Thanks for handling that so swiftly Alex!

[2020-05-14 09:00] djagya commented on #69
@suevalov Now I can close this issue, correct?

[2020-05-14 11:22] suevalov commented on #69
@djagya yep, I'm closing it. thanks 🎖️

[2020-05-14 11:22] #69 closed

[2020-05-22 08:53] stefanjudis opened #188 "Asset options are going out of view port in SingleMediaEditor"
I used the `SingleMediaEditor` in an App field extension and it works great. One thing I noticed is that the edit options (`edit` / `remove`) behind the three dots are going out of the iframe viewport.

It would be great to implement the behavior of the `SingleEntryReferenceEditor`. This editor seems to take of that by placing the tooltip in the visible area. :) Thanks.

![Screenshot 2020-05-22 at

[2020-06-04 08:02] suevalov commented on #188
Thanks for the question @stefanjudis. This issue highlights the problem in Forma36 https://github.com/contentful/forma-36/issues/361 that we need to solve to make all dropdown elements position properly.

As a temporary workaround, I would propose forcing dropdown always to open to the bottom.

[2020-06-22 06:12] manhthepixta opened #265 "How to keep source format after pasting to Rich text editor?"
Something like this. The html tags are **preserved** after pasting

https://youtu.be/mzf5DsJ6Ayg

[2020-06-23 11:01] suevalov commented on #265
Hi @manhthepixta!

Rich text field editor uses Slate.js under the hood. According to Slate documentation, there's an option to implement formatted paste: https://www.slatejs.org/examples/paste-html

We don't plan to implement it at the moment but feel free to fork the current repository and add this functionality.

[2020-06-30 14:15] stefanjudis opened #282 "Provide a wrapper around all field editors"
Hello everybody,

when building complex apps that for example are running in the entry location it would be great to have a component available that wraps all Contentful editors. The idea would be to have this wrapper component which renders the "default Contentful experience" depending on its field type.

A component could look like the component used in [the grouping fields example](https://gith

[2020-06-30 14:31] stefanjudis opened #283 "Allow custom renderer for reference editors"
Hello everybody. 👋

When using the reference and asset editors I'd love to have a way to control how the selected entry/asset is rendered in the Contentful UI.

Currently, the usage of these reference editors looks like below:

[code]

Unfortunately, there is no easy way to customize the rendering of selected entries other then re-implementing the whole reference component. I'd like to propose a w

[2020-07-01 11:35] suevalov commented on #282
Thanks for reporting @stefanjudis! We'll definitely be looking into this in the upcoming future. Stay tuned!

[2020-07-14 12:33] #283 closed

[2020-07-20 10:14] stefanjudis opened #317 "renderCustomCard doesn't seem to be implemented for SingleMediaEditor"
Hello I justed wanted to give the [`renderCustomCard` for the `SingleMediaEditor`](https://contentful-field-editors.netlify.app/media-single) a try and it looks like it's not implemented. :)

I have the following code:

[code]

which renders to the default asset cards. I debugged a little bit and ended up in `FetchingWrappedAssetCard`. `renderCustomCard` is available in `props` but it doesn't seem

[2020-07-21 08:57] stefanjudis opened #319 "Allow renderProps for media editors"
This is a follow up to #283. It'd be great to have renderProps for the media ref editors, too. 🙈

[2020-07-21 08:57] stefanjudis commented on #317
Documentation for the media editors was fixed. :) Follow up #319

[2020-07-21 08:57] #317 closed

[2020-08-15 19:19] diegoaguilar commented on #265
@suevalov isn't the current Contentful web app using formatted paste indeed?

[2020-08-25 15:51] djagya commented on #282
Hi @stefanjudis. We just released a new package `@contentful/default-field-editors` which exposes two React components:

- `Field` to render a field editor
- `FieldWrapper` to render label, validation errors and help text around this field editor

You can see how we use it in the same [grouping fields example](https://github.com/contentful/field-editors/blob/master/extensions/entry-extension-colla

[2020-08-25 15:51] #282 closed

[2020-08-26 14:02] stefanjudis commented on #282
That's awesome! Thank you! :)

[2020-08-26 14:04] stefanjudis commented on #282
@djagya Is it included in the docs, too? https://contentful-field-editors.netlify.app/

[2020-09-02 20:43] Tsmith18256 opened #388 "Namespace '_' has no exported member 'Cancelable'"
I am trying to use `@contentful/field-editor-date` in our project, but I can't get past the TypeScript error for the type definitions of FieldConnector in `@contentful/field-editor-shared`. Line 42 of _FieldConnector.d.ts_ has the following error:

This comes up where `import("lodash").Cancelable` is included in the return type for `setValue`. I have tried installing `lodash`, `lodash-es`, and the

[2020-09-02 20:45] Tsmith18256 commented on #388
Just to add, I dug into the source a bit and it looks like the return value is coming from Lodash's `throttle` function. If I call `throttle` myself, the return type is `DebouncedFunc`, so I don't know why there's that discrepancy between return types.

[2020-09-02 20:54] Tsmith18256 commented on #388
Just investigated that type discrepancy a little further, `@types/lodash` changed the return type of `throttle` 5 days ago, so it is a version mismatch issue. Closing issue

[2020-09-02 20:54] #388 closed

[2020-09-03 03:45] bsgreenb opened #389 "Make List/Tag Editor easy to modify"
I'm trying to get the functionality of the Tag field editor, but having it additionally show the image corresponding to the url:

![image](https://user-images.githubusercontent.com/980217/92068977-1fd4c280-ed5d-11ea-94c5-7162f0b759c5.png)

To implement this functionality, I'd basically to have clone the `TagsEditor` component and render that slightly modified version via `<Field>`.  I feel like th

[2020-09-03 13:18] suevalov commented on #389
Hi @bsgreenb! Thanks for filing the issue. We don't have a use-case for the internal needs yet but it would be definitely a nice addition.

I can't promise any ETA but we accept contributions :) Would you be interested in implementing it?

[2020-09-20 06:04] knupska opened #403 "Multi-reference extension not syncing referenced entry changes"
**Background**
I'm attempting to create an enhanced multi-reference editor, styled and operating as per the default Contentful ([Forma 36](https://github.com/contentful/forma-36)) functionality, but from which I can have entry fields be directly editable on the sortable card.

This is to cut down on the multiple steps it currently takes a content author to open a referenced entry, check a field va

[2020-09-25 14:44] kamsar opened #415 "Multi-reference editor 'Create new entry and link' dropdown won't work in an app"
To reproduce this:

1. Clone https://github.com/kamsar/ctfl-multi-reference-embed-bug ([specific repro code location](https://github.com/kamsar/ctfl-multi-reference-embed-bug/blob/master/src/components/Field.tsx))
2. `npm run start`
3. In Contentful, add a private app pointed at `http://localhost:1338`, with a Entry field editor for Entry reference, list
4. Assign the app's field editor to any Ent

[2020-09-28 08:25] knupska commented on #415
@kamsar, I encountered this same issue. It is because the dropdown containers use `fixed` positioning. Subsequently the iframe height calculations do not take the dropdown dimensions into account.

<img width="360" alt="position-fixed" src="https://user-images.githubusercontent.com/104673/94406791-e3f31880-01b5-11eb-8381-3ad4910d8ae7.png">

It is related to #188 and also impacts the action menu dr

[2020-10-01 10:31] matt-koevort commented on #415
Experiencing the same issue.

[2020-10-06 11:37] knupska commented on #403
As there has been no activity on this issue for several weeks, I will attempt to clarify.

When the `MultipleEntryReferenceEditor` is used as an extension, any changes made to the referenced entries are not kept in sync regardless of how those changes are made:
  - By any of the `sdk.space` methods like `updateEntry` or `publishEntry`
  - By another tab, window, or browser
  - By another content a

[2020-10-13 03:29] stevenyang1011 opened #441 "More formatting options in the default Rich Text editor?"
Is there any plan or road map to support more formatting in the default Rich Text editor? For example superscript <sup> html tag or the subscript <sub> tag?

[2020-10-13 12:25] djagya commented on #403
Hi @knupska, thanks a lot for the detailed report, I appreciate the time you spent on investigation. And sorry for the delayed answer.

You're right, `sdk.space.onEntityChanged` is only accessible within the web app and can not be accessed from the public widget SDK. As you correctly said, exposing this method would allow reference cards to be updated whenever an entry is changed elsewhere.

I wil

[2020-10-16 02:58] knupska commented on #403
Thanks for chasing it up @djagya.

Apologies for reporting it here too, I hadn't noticed those methods were actually being exposed by the [ui-extensions-sdk](https://github.com/contentful/ui-extensions-sdk) package.

[2020-10-19 09:39] lindelleric commented on #441
And to add to this: It would be nice if you could set `text-align` on text..

[2020-10-19 12:42] lukasoppermann opened #760 "💡 Proposal - Improve rich-text code visability"
## The problem

Inline code is really hard to spot, due to only slightly changing the appearance compared to normal text.

<img width="678" alt="Screenshot 2020-10-19 at 14 40 14" src="https://user-images.githubusercontent.com/813754/96452228-09090300-1219-11eb-910a-0ef9edd99258.png">

Three works `comment`, `description` and `remarks` are actually code elements.

## The proposed solution

Add a (

[2020-10-21 18:13] ryanwalters opened #452 "Using editors in standalone app"
Hi there, this is more of a question than an issue. Apologies if this is a dumb question!

Is it possible to use these editors as components in a web app outside of the Contentful UI? For example, we have an internal web app that we would like to use to manage Contentful content outside of the Contentful dashboard.

I tried using an example similar to the following, but it didn't work, the callbac

[2020-10-22 14:04] voronianski opened #454 "rich-text: Can't perform a React state update on an unmounted component."
`setState` on this line is causing React warnings when component is re-rendered before the promise is resolved. I suggest to use basic mount check before updating state there -

https://github.com/contentful/field-editors/blob/master/packages/rich-text/src/Toolbar/index.js#L74

[code]

[2020-10-27 09:08] giotiskl commented on #188
#462 introduces using popper for the dropdown, it should fix this issue

[2020-10-27 09:50] suevalov commented on #452
Hi @ryanwalters!

Thanks for asking the question. All field editors are designed to work only inside Contentful Web App or Contentful UI Extensions / Contentful Apps.

Using them in your custom standalone app is not possible unless you will be able to implement `sdk` instance by your own (including all data and all methods).

[2020-10-27 09:50] #452 closed

[2020-10-27 09:55] suevalov commented on #389
@bsgreenb I'm closing the issue due to lack of response. Feel free to create a new issue if it's still relevant

[2020-10-27 09:56] suevalov opened #465 "test autoassigment"
wip

[2020-10-27 09:56] #465 closed

[2020-10-27 10:18] suevalov commented on #415
@kamsar @knupska @matt-koevort We're working on the fix for this issue. We're about to release a new version of field-editors with the latest Forma36 under the hook that should resolve the issue.

[2020-10-27 10:19] suevalov commented on #319
@DanweDE @djagya is it possible with the latest changes in field-editors-reference, isn't it?

[2020-10-27 10:44] giotiskl commented on #454
Fixed with #463. Thanks for the report.

[2020-10-28 12:08] #188 closed

[2020-10-28 17:56] kamsar commented on #415
This fix makes the dropdown at least _usable_ without a hack but it's not particularly nice of an experience. The popper dropdown is absolutely positioned using `transform: translate(0px, iframeHeightpx)`, which still does not affect the document height calculations.

Before click:
![image](https://user-images.githubusercontent.com/103677/97475982-228e0700-190b-11eb-8e18-b2fef996c8c4.png)

After c

[2020-10-29 07:53] voronianski commented on #454
@giotiskl same issue is observed in ReferenceEditor
![image](https://user-images.githubusercontent.com/974035/97540411-e4085300-19c3-11eb-993c-c00d5aa27ec4.png)

Stack leads here - https://github.com/contentful/field-editors/blob/master/packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx#L65

[2020-10-29 12:51] z0al commented on #454
Thank you @voronianski for letting us know. I will investigate this and work on a fix ASAP

[2020-11-02 18:37] djagya commented on #319
Not possible yet, I will work on bringing it to the media ref editors.

[2020-11-02 19:06] djagya commented on #319
This PR https://github.com/contentful/field-editors/pull/469 adds the support for custom cards in media editors.

[2020-11-03 13:44] SirGavin opened #470 "Multi-reference editor does not call onAction when a deleted entry is removed"
If a previously linked entry is deleted, and then removed from the MRE via the `MissingEntityCard` element, `onAction` is not called.

It seems that the main issue with passing the `onRemove` function defined in `FetchingWrappedEntryCard` instead of `props.onRemove()` is that two of the values passed to `onAction` are retrieved from the entry object (which doesn't exist):
`id: get(entry, 'sys.id')

[2020-11-04 14:32] suevalov commented on #441
@stevenyang1011 @lindelleric The team will be working on Rich Text updates next Q1 and we might add these new formatting options or make customization easier. We'll keep this issue open and close once we have new Rich Text capabilities.

[2020-11-04 14:50] suevalov commented on #470
Hi @SirGavin! Thanks for reporting the issue. #471 fixes the problem and it will released shortly.

[2020-11-04 15:02] #470 closed

[2020-11-04 17:28] srounce commented on #441
Being able to add items to the embed dropdown would be amazing too.

[2020-11-04 18:44] SirGavin commented on #470
Awesome, thanks for the quick turnaround!

Was it not possible to use `props.entryId` to pass the entry id of the deleted entry for the ID param? Being passed as null atm.

[2020-11-04 21:05] SirGavin opened #472 "@contentful/field-editor-date@^0.8.0 not published?"
On running `npm install @contentful/default-field-editors` I get the error `No matching version found for @contentful/field-editor-date@^0.8.0`.

When I install @contentful/field-editor-date, the installed version is 0.7.1, so looks like the latest version wasn't properly published?

[2020-11-05 11:08] suevalov commented on #472
Hi @SirGavin

Looks like there was a hiccup during the automatic publishing. Fixed by manually publishing 0.8.1

[2020-11-05 11:08] #472 closed

[2020-11-12 04:56] bsgreenb commented on #389
@suevalov This is still relevant, I was just working on other issues while this was on backburner.  This is still relevant.

[2020-11-17 09:23] #319 closed

[2020-11-17 21:06] DanweDE commented on #441
@srounce Could you please elaborate on what kind of items you'd like to be able to add to the embed dropdown?

[2020-11-19 01:34] stevenyang1011 commented on #441
One of the issue I ran into customising the Rich Text Editor is the validation. When I add more plugins to render superscript and subscript tags, the validation gives an error unless you enable all the formatting options on the content model.
![image](https://user-images.githubusercontent.com/6994834/99609050-072e9b80-2a74-11eb-8aab-2dbd760f65bd.png)

I could not find documentations on customising

[2020-11-23 00:24] amandahogan opened #491 "Character count on the multiline long text field editor"
I'd like to request a feature for a character count to be included on the multiline long text field editor similar to the one on the markdown editor and short text field editor.

[2020-11-23 07:38] suevalov commented on #491
Hi @amandahogan, thanks for the feature request. We'll put it in our backlog. If you want it to happen faster, feel free to open a PR :)

[2020-12-15 01:57] amandahogan commented on #491
@suevalov just checking if this has already been worked on? If not I'll open a PR for it.

[2020-12-16 10:48] suevalov commented on #491
Hi @amandahogan, this is not being worked on at the moment. Feel free to open a PR 👍🏼

[2021-01-29 14:46] ashsingh1790 opened #575 "Add support for @contentful/app-sdk"
I am working on creating an entry editor for some content model. I am using @contentful/app-sdk and @contentful/forma-36-react-components. I am able to have the UI the way I want with the forma-36 components but I also want to use @contentful/field-editor-reference to have access to the original functionality of the field.

The problem I am running into is when I pass sdk to the MultipleEntryRefer

[2021-01-29 18:08] caroillemann commented on #575
I experience the same issue but found a way to get around it. So until it's properly fixed, you can maybe try that.

In stead of using the `sdk` directly, I convert it to the type `any`.

[code]

[2021-01-29 19:48] ashsingh1790 commented on #575
Thanks @caroillemann. Now it is showing some errors in index.tsx. The app works fine without the MultipleReferenceEditor component.

src/index.tsx
[code]

src/components/EntryEditor.tsx

[code]

error
![contentful-app-sdk](https://user-images.githubusercontent.com/8277306/106319432-70cee100-623f-11eb-859d-72b801c9a25a.PNG)

[2021-02-01 12:01] imshuffling opened #579 "entry-extension-collapsible - Duplicate plugin/reset detected"
Getting an error trying to run the entry-extension-collapsible extension locally.

![image](https://user-images.githubusercontent.com/739061/106456187-17f08a00-6485-11eb-8d5d-3ea915242afb.png)

[code]

Babel related?

[2021-02-07 11:29] BraunreutherA opened #586 "Reference Editor onCreate"
Hi there,

the onCreate prop passed to the `LinkActions` in the Reference Editor are forcing the developer to a specific handling of the editor as it creates a new entry in the background and opens the drawer. Would it be possible to also pass the onCreate Callback of the  https://github.com/contentful/field-editors/blob/c6db8bf095f1f1cf2b3de610f34bbe483098ca04/packages/reference/src/common/Multip

[2021-02-09 15:27] Nimisoere opened #596 "Need help with reflecting locale settings change"
I have a custom editor that contains localised fields. However changing the locale on the side bar is not being reflected in the editor. I have tried storing the selected locale in React state and changing the state with the function `editor.onLocaleSettingsChanged`.
This still doesn't work. Any pointers will be helpful. Thanks

[2021-02-16 20:18] SirGavin opened #602 "default-field-editors won't install"
When running "npm install @contentful/default-field-editors" this error is given:
`No matching version found for @contentful/field-editor-radio@^0.11.2`

Sounds like the latest version of field-editor-radio isn't published?

[2021-02-17 13:09] anho commented on #586
Hey,

I assume you are talking about `renderCustomActions` in both the `SingleReferenceEditor` and `MultipleReferenceEditor`.

We currently don't have a use case for that internally, so there is little chance we will do that soon. But let me assure you, that if you feel a strong need for your particular use-case open a PR and we will happily review it.

Cheers

[2021-02-17 13:38] anho commented on #596
Hey @Nimisoere,

it would be helpful if you provide a bit more context in how you access

[2021-02-17 13:40] anho commented on #596
Hey @Nimisoere,

can you provide us a sample of your code to understand your setup better?

I can also recommend trying out our [Community slack](https://www.contentful.com/slack/) to find help on these and other occasions.

Cheers

[2021-02-17 13:53] BraunreutherA commented on #586
Hi @anho,

I've created a PR #604 which passes the native `onCreate` and `onLink` through to the  renderCustomActions method. This way t's possible to build completely custom actions.
I've named the functions `onEntryCreated` and `onEntryLinked` - hope it fits your style.

Best
Alex

[2021-02-17 17:05] anho commented on #602
@SirGavin thanks for reporting the issue, it's fixed now with the latest release of `@contentful/default-field-editors`.

[2021-02-17 17:05] #602 closed

[2021-02-17 19:02] Nimisoere commented on #596
Hey @anho

Figured this out. Was missing the `key` props.

[code]

[2021-02-17 19:02] #596 closed

[2021-02-17 20:09] suevalov commented on #575
All field editors were updated to use `app-sdk`. Please update to the latest version.

[2021-02-17 20:09] #575 closed

[2021-02-18 09:48] djagya commented on #586
@BraunreutherA Hi,

Reference editor also accepts [`onAction` property](https://github.com/contentful/field-editors/blob/master/packages/reference/src/common/ReferenceEditor.tsx#L23) that [gets called](https://github.com/contentful/field-editors/blob/master/packages/reference/src/components/LinkActions/LinkEntityActions.tsx#L36-L43) when an entry is created/linked.

Can it be used to do something

[2021-02-18 10:03] BraunreutherA commented on #586
Hi @djagya,

the `onAction` approach is the way we do it right now. Sadly it has some side effects which are not very nice in this case:
- The Drawer opens immediately before the content is opened to the new entry. That way a flicker effect exists as it shows a loading screen, then shows the empty entry and the after a second or two shows the copied content. We'd like to open the drawer after the

[2021-02-23 18:21] djagya commented on #586
@BraunreutherA sorry for the delay. I have a couple more questions, just to clarify that I understood it correctly.

If I understand correctly, you want to copy an entry and then open it. The problem with passing `onEntryCreated` as in you PR is that it will be called only after [this line creating and entry and opening it in a slide-in editor](https://github.com/contentful/field-editors/blob/mast

[2021-02-23 18:32] BraunreutherA commented on #586
@djagya That's exactly the plan. I'd have a button with a onClick listener which creates an entry directly through the app sdk, and sets the fields to the values of the copied entry.
When this is done I would call sdk.navigator.openEntry and the onEntryCreated to finally add it to the list of references in the Reference Editor field.

The onCreate here needs to be called so the entry gets added as

[2021-02-24 16:13] djagya commented on #586
@BraunreutherA ok, got it, thanks for the explanation! In that case I'll make a new PR with a few more additions, so `onAction` will also be triggered when `onCreated` is called.

[2021-02-24 17:07] djagya commented on #586
@BraunreutherA thanks for your contribution. I covered the described use-case in my PR and added some examples, so I'll close your PR if you don't mind.

[2021-02-24 18:37] BraunreutherA commented on #586
@djagya That's awesome - thank you so much! I also like the implementation with the complete action setup :)
Thank you for your help!

[2021-03-02 12:56] djagya commented on #586
Hi @BraunreutherA, the PR is merged, the new props are available in `@contentful/field-editor-reference@2.10.0`. The web app now also uses the latest version. Please let me know if it allowed you to better solve the problem you described!

For now I'm closing the issue, thanks for patience :)

[2021-03-02 12:56] #586 closed

[2021-03-03 14:34] BraunreutherA commented on #586
Hi @djagya, I've implemented our feature by using the new callbacks and it worked like a charm. Thanks a lot! :)

[2021-04-06 12:48] srbagg opened #676 "field-editor-reference react-17 dependency broken"
On creating a new contentful app using `create-contentful-app` cli and thereafter installing `@contentful/field-editor-reference` using command `npm i @contentful/field-editor-reference` causes error during installation.

[code]

As per the above log, `react-sortable-hoc@1.11.0` depends on react@"^0.14.0 || ^15.0.0 || ^16.0.0" whereas `create-contentful-app` cli installs latest react using create-

[2021-04-06 13:01] srbagg commented on #676
I think PR #664 might have the fix for this issue.

[2021-04-06 13:10] suevalov commented on #676
@srbagg yep, you're right. #644 should solve the problem. I verified that the new react-sortable-hoc works as expected and merge the PR, so the new version of field-editor-reference will be released shortly

[2021-04-06 13:12] srbagg commented on #676
Great! Thanks @suevalov 😊

[2021-04-06 13:40] suevalov commented on #676
@srbagg it's released as  `@contentful/field-editor-reference@2.13.0`

[2021-04-06 13:40] #676 closed

[2021-04-08 06:05] jscasca opened #677 "How to query enabled formatting options on Rich Text"
Is there a way to query the enabled formatting options of a rich text field to create a toolbar with those options in mind?

[2021-04-08 07:22] suevalov commented on #677
@jscasca yes, all options are saved in editor_interface for this content type and are should be available via `sdk.parameters`

[2021-04-08 07:22] #677 closed

[2021-05-07 10:06] fredericdevaux opened #715 "TypeError: Cannot use 'in' operator to search for 'type' in document for field RichText"
Hello,

First of all, thank you for your work on this library.

I have created a Contentful App that display fields conditionally in function of a select field. But everytime i try to edit a field  of type RichTextEditor, I have this error that is displayed : TypeError: Cannot use 'in' operator to search for 'type' in document (other fields that i tried are working fine).

Have you an idea if it c

[2021-05-18 09:16] nekosaur commented on #715
I am having the same issue. I am using the field like this.

[code]

[2021-05-18 21:03] waelhasan commented on #715
I have the same issue here: the rich text editor does not show the data coming from Contentful, and when i try to enter any thing in the rich text editor i have the error `TypeError: Cannot use 'in' operator to search for 'type' in document`.

I tried to take a look at the source code, and found out that the two issues comes from the way in which the `@contentful/contentful-slatejs-adapter` packag

[2021-05-19 16:57] cribbles commented on #715
Hi all

Thanks for bringing this to our attention. I believe this is due to an update in our rich text to slate format adapter library that was shipped recently. I'll make a task for our team to fix this library's version to the previous v14.1.2. Apologies for the disruption caused in the meantime.

Chris

[2021-05-20 07:35] #715 closed

[2021-05-26 14:22] ayobami303 commented on #715
any update on fixing this. it has reappeared again

[2021-05-26 20:45] sssgordon commented on #715
It seems the fix is pushed but on npm it's still the last version (0.8.13), when is 0.8.14 dropping?

[2021-05-27 11:58] nekosaur opened #731 "Attempted import error: 'DefaultElement' is not exported from 'slate-react'."
After updating `@contentful/field-editor-rich-text` to version `0.18.11` to fix issue #715, I am not unable to compile my project with the following error message showing up.

[code]

[2021-05-27 16:31] cribbles commented on #731
Hey @nekosaur

Apologies - looks like this was published with the wrong `dist/`. Could you try it again with the latest version (`0.18.12`)?

[2021-05-27 16:33] cribbles commented on #715
@ayobami303 @sssgordon Apologies - looks like this was published with the wrong `dist/`. Would you please try with v`0.18.12` and report back if there are any issues?

[2021-05-28 08:40] nekosaur commented on #731
I can confirm that `0.18.12` fixes the issue.

[2021-05-31 09:51] sssgordon commented on #715
@cribbles Thanks for the quick response, the problem still exists with `0.18.12` unfortunately.

[2021-05-31 10:22] sssgordon commented on #715
@cribbles Thanks for the response, it seems rolling back to `0.8.12` for @contentful/field-editor-rich-text does the trick as in I can use the rich-text field and save it no problem!

[2021-06-04 07:29] #731 closed

[2021-06-10 10:18] ChloeLiang opened #741 "Docs: canCreateEntity and canLinkEntity should be showCreateEntityAction and showLinkEntityAction"
**Actual**

Currently the mdx docs for `MultipleMediaEditor` is like this:

[code]

**Expected**

I think `canCreateEntity` and `canLinkEntity` should be `showCreateEntityAction` and `showLinkEntityAction` as defined in `ReferenceEditorProps` interface.

Affected components:
- SingleMediaEditor
- MultipleMediaEditor
- SingleEntryReferenceEditor
- MultipleEntryReferenceEditor

[2021-06-22 12:31] phawxby opened #751 "Empty node bug causing exceptions"
A bug exists in the rich text editor which allows for nodes to exist with undefined content.

[code]

The node is completely invisible to the author using the editor. Their first indication of a problem is the node refusing to render due to this condition causing an error inside `rich-text-links`.
https://github.com/contentful/rich-text/issues/243

This relates to Contentful support ticket: 79759

[2021-07-06 09:47] djagya commented on #741
Hi @ChloeLiang, thank you for noticing, you're totally right! The PR fixing it is ready now and soon will be deployed.

[2021-07-06 12:04] #741 closed

[2021-07-07 21:04] tonyneel923 commented on #575
@suevalov if I run `yarn add @contentful/field-editor-reference@latest` and then pass sdk from entry editor to MultipleEntryReferenceEditor I get the same error as above.

What is the way to fix this?

[2021-07-30 08:45] OriginalEXE opened #788 "Expose InitializedEditorType in MarkdownEditor onReady"
Hello,

Right now the the `onReady` prop for the MarkdownEditor is typed as `Function` and `InitializedEditorType` type is not exported from the package, so there is no way to type the argument passed to the `onReady` function on the consumer side.

Ideally both `onReady` could be more specifically typed and the `InitializedEditorType` type exported.

Would be happy to open a PR if that's somethin

[2021-08-05 14:30] #491 closed

[2021-08-19 18:55] th1nkgr33n commented on #441
Just for note there is a discussion going on inside the slack community about this topic.
The problem to add new nodeTypes (not marks) is that there is a deeper validation inside contentful you cannot bypass.
https://contentful-community.slack.com/archives/CBYTK7T9S/p1626664817229800

[2021-08-21 17:06] OriginalEXE opened #811 "rich-text and json: Add onReady prop to expose the editor reference"
👋🏻 Hello,

Right now there seems to be no way to get a reference to the `rich-text` and `json` editors when they are initialized. Markdown editor has an `onReady` prop which is awesome, would you consider adding those to the `rich-text` and `json` editors as well?

Thanks

[2021-10-25 13:39] hesham-wi5 opened #896 "Any way of extracting the data from a rich-text field?"
Hi, I am looking for a way to extract data from a rich text field but it's not very clear how to achieve that in the documentation.

I am using the contentful SDK and dynamically rendering fields based on a dropdown list and I would like to access the data from a parent function.

`<RichTextEditor sdk={sdk} />`

I have tried a bunch of functions such as onChange and onAction and weirdly enough the

[2021-11-15 22:13] brianlmacdonald opened #925 "Typescript and Latest @contentful/field-editor-reference"
Hi, I'm building an app extension using next js, and was having build errors I couldn't resolve at the ts level when using the latest package for `@contentful/field-editor-reference`.

[code]
Tweaks to next js's ts.config didn't help.

I had to set the package version to  `^2.21.2`  which is the version used in the references example app to get it to work without doing something hacky like using n

[2021-11-17 08:20] djagya commented on #925
Hey @brianlmacdonald thank you for the report! I passed this issue to the Forma team. For now you're safe to use the version 2 👍  Version 4 is just an upgrade to the new, beta version of the Forma36

[2021-11-17 13:36] brianlmacdonald commented on #925
Ok, great! Thanks

[2021-11-17 14:27] drager opened #929 "SingleMediaEditor doesn't work with JSON object field type"
Hey, I'm trying to use the `SingleMediaEditor` in an custom contentful extension with a field type that is JSON object but it throws the following error:
[code]

That is here: https://github.com/contentful/field-editors/blob/3dc7130a751de690903c572edfcdfdf3587b57bf/packages/reference/src/common/SingleReferenceEditor.tsx#L84

Here's the sample app code:

[code]

[code]

[2021-11-18 06:15] drager commented on #929
Changed it into an `app` instead but I get the same issue. Perhaps the problem is the content type that I'm using? Doesn't it support the JSON object content type?

[2021-11-18 06:39] drager commented on #929
Seems to be working fine with `Text` and `Rich text` content types.

[2021-11-30 01:45] adrian-skybaker commented on #415
![image](https://user-images.githubusercontent.com/62906763/143970570-6594624e-93a8-4bae-a119-d9994c5a2f78.png)

[2021-12-01 12:43] chrisfrancis27 commented on #415
The way I worked around this on one of our apps was as follows. However, it's only useful in certain situations (see caveats):
1. Create a `ref` on the absolute-positioned element which overflows the iframe (**caveat**: this is only possible if the component lets you pass a `ref` obviously, such as using a Forma 36 `<DropdownList>`)
2. Create an event handler for _any event which causes the overfl

[2021-12-06 05:46] Stupidism opened #951 "'@contentful/hostname-transformer@^1.4.10' is not in the npm registry."
@cezarsmpio Looks like [hostname-transformer](https://www.npmjs.com/search?q=%40contentful%2Fhostname-transformer) is a private npm package:

[code]

_Originally posted by @Stupidism in https://github.com/contentful/field-editors/issues/946#issuecomment-986457857_

[2021-12-06 09:02] cezarsmpio commented on #951
Hi @Stupidism , this PR should fix it, thanks! https://github.com/contentful/field-editors/pull/950

[2021-12-06 11:46] Stupidism opened #952 "input glinch with custom field of official demo"
I'm trying to add a simple custom field for my web app, but [the official demo](https://contentful-field-editors.netlify.app/single-line) from your website is working at all.

[code]

[code]

![contentful-custom-field-bug](https://user-images.githubusercontent.com/5801015/144840103-ea35b331-f1d6-45f9-b636-ad498a91a771.gif)

[2022-01-06 21:36] dmbdesignpdx commented on #952
This glitch also happens in our app.

[code]

Seems to only be affecting inputs that are the entry title, at least in our app.

[2022-02-08 09:32] lucashfreitas opened #1015 "Customize Rich text actions fields/UI elements"
Hello,

I am trying to develop a custom plugin that I need to customize the actions the user needs to do in a rich text, basically, the user can select a text block, clicks on a button, and modifies the original content when user clicks the button - I see that the rich text editor doesn't have any option to do so.

There is any way to fork a native implementation of the rich text component and imp

[2022-02-08 22:24] dmbdesignpdx commented on #952
?

[2022-02-08 22:50] dmbdesignpdx opened #1016 "Editor markdown does not work correctly"
Hello, there is some kind of bug preventing a user from using the markdown editor as expected (compared to the one in the builtin entry editor).

## How it's implemented

Via `@contentful/create-contentful-app` using the `@contentful/app-sdk`:

[code]

## Expected behavior

Builtin entry editor:

https://user-images.githubusercontent.com/5041305/153087205-861baae1-8bbc-4763-879d-f1684939d58c.mov

[2022-02-08 22:57] dmbdesignpdx opened #1017 "Rich Text editor does not work correctly"
Hello, there is some kind of bug preventing a user from using the rich-text editor as expected (compared to the one in the builtin entry editor).

## How it's implemented

Via `@contentful/create-contentful-app` using the `@contentful/app-sdk`:

[code]

## Expected behavior

Builtin entry editor:

https://user-images.githubusercontent.com/5041305/153089246-c8296e1a-5fd9-4435-971b-343de6dfb199.mov

[2022-03-07 10:46] torreshernandez commented on #929
Hey @drager, how did you solve the issue? I'm facing the same limitation.

[2022-03-08 18:27] flavigneseedbox commented on #929
I have the same issue, still looking for a solution.

[2022-03-09 06:28] drager commented on #929
I didn't need to fix it anymore. I went and used an other field type. But my pr ☝️ got it working for SingleMediaEditor.

[2022-03-23 09:59] leighwhite96 commented on #929
Hi @drager - any plans to update your PR? Also experiencing the same issue :)

[2022-03-23 20:53] alexhayneshs commented on #1017
Hello! I am seeing this exact same issue.

[2022-05-06 21:17] jjagutzke commented on #1016
Any update here? I'm experiencing the same problem...

[2022-05-10 13:55] BraunreutherA opened #1140 "entityHelpers.getFieldValue returns wrong type"
Hi there,

it seems the https://github.com/contentful/field-editors/blob/master/packages/_shared/src/utils/entityHelpers.ts `getFieldValue` return the wrong type `string | undefined`. When the Field is not a string field it would return another type.

As we would like to use the method in our App, would it be possible to

1. change the returned type to `unknown | undefined`

or

2. use a generic t

[2022-05-12 21:04] dmbdesignpdx commented on #1016
this behavior still persists when creating a brand new contentful app via `@contentful/create-contentful-app@latest`.

updated versions:
- `@contentful/default-field-editors`: **1.1.16**
- `@contentful/app-scripts`: **1.1.2**
- `@contentful/app-sdk`: **4.4.0**
- `node`: **16.15.0**
- `npm`: **8.9.0**

[2022-05-12 21:05] dmbdesignpdx commented on #1017
this behavior still persists when creating a brand new contentful app via `@contentful/create-contentful-app@latest`.

updated versions:
- `@contentful/default-field-editors`: **1.1.16**
- `@contentful/app-scripts`: **1.1.2**
- `@contentful/app-sdk`: **4.4.0**
- `node`: **16.15.0**
- `npm`: **8.9.0**

[2022-05-13 15:17] drewfitz10 opened #1144 "RichText editor is missing the table option"
The RichText editor on the Contentful site now has the `table` option added to the toolbar. I don't see it in the code here or any APIs to be able to add it ourselves. Are their plans to add it to this package?

[2022-05-16 11:05] z0al commented on #1144
Hey there. The code is available under the [next](https://github.com/contentful/field-editors/tree/next/packages/rich-text) branch. We plan to merge with master in a few weeks. It will be released as v2.0.0. While there are no breaking changes in terms of the public package API bringing Tables involved a full rewrite of the package using the latest Slate version.

[2022-05-16 11:05] #1144 closed

[2022-06-30 14:13] brianlmacdonald opened #1171 "You called getEntry on the Space API. Since version 4.0.0 the Space API and its methods are deprecated."
I'm seeing this warning in the console when using these field editors- they seem to be using parts of the app-sdk that are deprecated.

![Screen Shot 2022-06-30 at 10 11 01 AM](https://user-images.githubusercontent.com/23248886/176699168-b02c6592-8ea9-4d6b-b5d0-4d730ad0abc6.png)

Are there plans to switch out the sdk as a client for the cma instead?

[2022-06-30 14:14] #925 closed

[2022-07-04 12:49] giovanni-caiazzo opened #1173 "@contentful/field-editor-rich-text re-rendering problem"
Hi all,
I am using @contentful/field-editor-rich-text in a contentful app, version 2.1.0 and I have some problems with rerendering.
Basically I am rendering a set of tabs and each tab has an instance of @contentful/field-editor-rich-text:
[code]
When the component first renders it works great, but as soon as I change tab, the editor disappears and never reappears even when I return to the original

[2022-07-07 17:02] z0al commented on #1171
Yes, this is on our radar. We will migrate to the CMA client once a few blockers are resolved. We are in touch with the team responsible for the app-sdk internally to resolve the matter.

[2022-07-08 19:19] catdalfonso opened #1180 "Default Field Editors does not recognize `Link` field type"
# Case
[code]
 where this is being rendered in a reference field.

 # Expected result
 Field renders the default Contentful editor for a reference field.

 # Actual Result
 The field does not render, with this in the console:
[code]

Logging the `sdk.field.type` appears to log `Link`, which the underlying function here: https://github.com/contentful/contentful-management.js/blob/master/lib/constan

[2022-07-08 19:25] catdalfonso commented on #1180
As a temporary workaround, I'm reverting to `@contentful/default-field-editors@1.0.7`.

[2022-07-12 13:18] niclaszllaudi commented on #1173
Hi, I encountered the same issue with basically the same use case. After some debugging I tracked down the issue to the [ids of the respective `ConnectedRichTextEditor`s](https://github.com/contentful/field-editors/blob/ec8ae0a60f90d42bae86ecfa823013bae548a09f/packages/rich-text/src/RichTextEditor.tsx#L34). Internally they are passed to the `Plate` component, which requires the [ids to be unique](

[2022-07-12 14:08] giovanni-caiazzo commented on #1173
Thank you so much @niclaszllaudi for pinpointing the issue in the codebase. I have used `patch-package` to make it work. This however is NOT a solution to the issue and if the devs want us to make a PR I would happily do it. For now my project is not blocked though, which is great.

[2022-07-12 15:59] z0al commented on #1173
Can you share more about your use case @niclaszllaudi & @giovanni-caiazzo ?

For the internal ids calculation we use the [entry key + field id + the locale code](https://github.com/contentful/field-editors/blob/ec8ae0a60f90d42bae86ecfa823013bae548a09f/packages/rich-text/src/ContentfulEditorProvider.ts#L12). So, in theory, it should only clash if you are rendering the same entry twice. Is that the

[2022-07-12 16:47] giovanni-caiazzo commented on #1173
Hi @z0al. In my use case I have a contentful app that is rendering a json field as a collection of rich text fields, each accessible with its own tab. I used patch-package to add a new prop to ConnectedRichEditor in order to add a custom ID appended to the ID you are creating like you described.

[2022-07-19 14:30] hsheikhali1P opened #1191 "Rich text editor not rendering"
Looks like there is an issue with the Rich Text Editor. It's not rendering at all. Here is the error I am getting:

[code]

[2022-08-09 01:00] jkpc commented on #1191
I also encountered this error when following the video tutorial to create a new Contentful app and add the rich text editor. My workaround was to install the package `@contentful/rich-text-types`. However there are still type errors, so next step (temporary hack) was to copy over the src folder from `https://github.com/contentful/rich-text/tree/master/packages/rich-text-types/src`.

At least this

[2022-08-09 07:59] aaron5670 commented on #929
I have the same issue, also looking for a solution.

[2022-08-11 07:37] lukasoppermann commented on #760
@m10l is this fixed? Can this be closed?

[2022-08-15 07:36] #760 closed

[2022-08-18 09:31] amacleanPC opened #1217 "Short Text Radio Field - No Margin for LTR"

[2022-08-23 09:36] JacobSoderblom opened #1218 "p-queue is used in default-field-editor but not installed as a dependency"
Getting problems when building my custom editor using the default-field-editor package, see below.

[code]

Please solve this by installing the dependency p-queue as a dependency or as a peer-dependency.

[2022-08-30 08:40] #265 closed

[2022-09-12 08:17] Rowadz commented on #1218
This was fixed after https://github.com/contentful/field-editors/commit/85763896092414acce8e3e2f81f375dcf983b49f

[2022-09-12 08:20] #1218 closed

[2022-09-13 22:25] dmbdesignpdx commented on #1016
?

[2022-09-14 09:41] vitalbone opened #1236 "RichTextEditor value and onChange props"
Hi, I've been trying to understand if it's possible to add an initial value and change the value of the `RichTextEditor` field.

There doesn't seem to be any documentation so I'm not sure how it's supposed to function. Pardon my naiveté but I was hoping it would be as simple as the following however this doesn't work.

[code]

Could you please provide an example of the correct way to add an initia

[2022-10-31 21:21] mrGrazy opened #1270 "Inline language tagging in rich text"
Hi, I would like to gauge whether this feature could be considered in-scope for the rich text editor, if so I am happy to contribute a PR to support it.

In New Zealand, (and I assume in some other countries around the world), we use two languages interchangeably in our content. It is common in New Zealand English to use some Maori words and to have headings and paragraphs of Maori text embedded i